<header class="bg-surface shadow-md sticky top-0 z-50">
  <nav class="hidden lg:flex items-center justify-between mx-auto max-w-7xl w-full px-8 py-4">
    <div class="flex items-center group mr-20 xl:mr-32 2xl:mr-48">
      <img src="/photos/Logo192x192.png" alt="Logo My Reflection" width="64" height="64" class="h-16 w-16 object-contain mr-6 select-none transition-transform duration-300 ease-out group-hover:scale-110" loading="lazy" decoding="async" />
      <a href="/" class="inline-flex flex-col min-w-70 max-w-70"> 
        <div class="text-2xl font-bold self-start">My Reflection</div>
        <div class="font-semibold self-end">Joanna Rudzińska-Łodyga</div>
      </a>
    </div>
    <ul class="flex space-x-8">
        <li><a href="/o-mnie" class="hover:text-accent transition-colors">O mnie</a></li>
        <li><a href="/oferta" class="hover:text-accent transition-colors">Oferta</a></li>
        <li><a href="/kwalifikacje" class="hover:text-accent transition-colors">Kwalifikacje</a></li>
        <li><a href="/umow-wizyte" class="hover:text-accent transition-colors">Umów wizytę</a></li>
        <li><a href="/kontakt" class="hover:text-accent transition-colors">Kontakt</a></li>
    </ul>
  </nav>
    <nav class="lg:hidden container mx-auto px-4 py-4 flex justify-between items-center relative">
    <a href="/">
      <img src="/photos/Logo192x192.png" alt="Logo My Reflection" width="48" height="48" class="h-12 w-12 object-contain" />
    </a>
      </div>
    </div>
        <a href="/" class=" inline-flex flex-col grow min-w-60 max-w-60"> 
        <div class="text-2xl font-bold self-start">My Reflection</div>
        <div class="font-semibold self-end">Joanna Rudzińska-Łodyga</div>
      </a>
      <div class="flex  items-center">
      <button id="menu-btn" type="button" class="p-2 rounded-md hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-accent">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </button>
    </div>

    <div
      id="mobile-menu"
      class="absolute top-full left-0 right-0 bg-surface shadow-lg
             overflow-hidden transition-all duration-500 ease-in-out max-h-0 opacity-0">
      <div class="py-2">
        <a href="/o-mnie" class="block py-3 px-5 text-primary hover:bg-gray-200">O mnie</a>
        <a href="/oferta" class="block py-3 px-5 text-primary hover:bg-gray-200">Oferta</a>
        <a href="/kwalifikacje" class="block py-3 px-5 text-primary hover:bg-gray-200">Kwalifikacje</a>
        <a href="/umow-wizyte" class="block py-3 px-5 text-primary hover:bg-gray-200">Umów wizytę</a>
        <a href="/kontakt" class="block py-3 px-5 text-primary hover:bg-gray-200">Kontakt</a>
      </div>
    </div>
  </nav>
</header>
